<%- include("partials/header.ejs") %>
<h1 style="color: white;">About Me</h1>
<img class="profile" src="images/my_profile.jfif" alt="cat profile">
<p>Hello there! I'm Sriram, a passionate full-stack web developer with a knack for turning ideas into digital realities.My journey in web development began with a fascination for creating interactive and user-friendly interfaces.I've honed my skills across the entire web development stack, from frontend technologies and backend frameworks.I'm also proficient in database management systems.What sets me apart is my commitment to staying updated with the latest industry trends and technologies. I'm always eager to dive into new frameworks, languages, or tools that can enhance the quality and efficiency of my work. Whether it's implementing responsive designs, optimizing performance, or ensuring seamless functionality across devices, I strive for excellence in every aspect of my projects.I'm deeply passionate about creating meaningful experiences that resonate with users.I thrive in collaborative environments where ideas flow freely, and I'm always eager to learn from and share knowledge with fellow developers.If you're looking for a dedicated full-stack developer who's passionate about crafting exceptional web experiences, I'd love to chat! Let's collaborate and bring your vision to life.
</p>
<p>Thank you.💓</p>
<br>
  <%- include("partials/footer.ejs") %>