<%- include("partials/header.ejs") %>


  <h1 style="color: white;">Home</h1>

  <p>Welcome to My portfolio website
  </p>
  <img class="profile" src="images/my_profile.jfif" alt="cat profile">
  <p>
    Hello! I'm <strong>Sriram Venkatesan</strong><br>A dynamic full-stack web developer driven by innovation and fueled by creativity. Welcome to my corner of the internet, where pixels come to life and user experiences are transformed into digital masterpieces.
  </p>
  <br>
  <br>
  <br>
  <%- include("partials/footer.ejs") %>